html,body,#game-wrapper{
  height: 100%;
  margin:0px;
  overflow: hidden;
}

body{
  background-color:black;
}

#game-wrapper{
  position: relative;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  max-width: 1200px;
  max-height: 800px;
  border:1px solid #c7a7a7;
}
